@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
    transition: all 0.25s;
}

html {
    background-color: #212529;
}

ul {
    list-style: none;
}

#btnAdd:hover {
    transform: scale(1.1);
    color: white;
    background-color: black;
}

.filteredText {
    display: none;
}

.btnDelete:hover {
    transform: scale(1.2);
}

.item p::first-letter {
    text-transform: uppercase;
}